---
name: EffortlessHome Remote Access
version: 1.0.2
slug: eh_remote_access
description: "Use a Secure Tunnel to remotely connect to Home Assistant without opening any ports"
init: false
hassio_api: true
hassio_role: homeassistant
arch:
  - aarch64
  - amd64
  - armv7
map:
  - addon_config:rw
options:
  eh_email_address: ""
  eh_system_id: ""
schema:
  eh_email_address: str?
  eh_system_id: str?
  run_parameters:
    - match(^(--edge-bind-address|--edge-ip-version|--grace-period|--ha-connections|--logfile|--loglevel|--pidfile|--protocol|--region|--retries|--tag)=.*$)?
  log_level: list(trace|debug|info|notice|warning|error|fatal)?
